PORT=8080
TWOGIS_API_KEY=your_2gis_api_key_here
YANDEX_API_KEY=your_yandex_api_key_here
BENZIN_BASE_URL=https://benzin.api.2gis.ru/
PASSEPARTOUT_URL=https://passepartout.2gis.com
CACHE_TTL=10m
HTTP_TIMEOUT=10s
DEFAULT_RADIUS=3000
ENABLE_HEADLESS_FALLBACK=false
LOG_LEVEL=info
